.myrow {
	margin: 0 auto;
}

body {
	background-color: #d60b52;
}

.header {
	height: 5vw;
}

.header-image {
	float: right;
	background-image: url('../images/headerlogo.png');
	height: 8vw;
	width: 100vw;
	margin: 2vw;
	background-repeat: no-repeat;
	background-position: right;
	background-size: contain;
}

.perspective {
	background-color: green;
	position: relative;
	display: inline;
	float: left;
	height: 15vw;
	width: 15vw;
	margin: 1vw 5vw 1vw 5vw;
	-webkit-perspective: 100vw;
	perspective: 100vw;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.door {
	background-color: #d60b52;
	width: 15vw;
	height: 15vw;
	position: absolute;
	border: 2px dashed white;
	color: rgba(255,255,255,1);
	text-align: center;
	font-size: 7.5vw;
	font-family: 'Lobster', cursive;
	line-height: 15vw;

	transition: 0.5s transform linear;
	transform-origin: left;
}

@-webkit-keyframes openanim {
	0% {
		-webkit-transform:rotateY(0deg);
		border: 2px dashed white;
		background-color: #d60b52;
		color: rgba(255,255,255,1);
	}
	50% {
		border: 2px dashed white;
		background-color: #d60b52;
		color: rgba(255,255,255,1);
	}
	50.1% {
		border: 0px;
		background-color: #00a19a;
		color: rgba(255,255,255,0);
	}
	100% {
		-webkit-transform: rotateY(-135deg);
		border: 0px;
		background-color: #00a19a;
		color: rgba(255,255,255,0);
	}
}

@keyframes openanim {
	0% {
		transform:rotateY(0deg);
		border: 2px dashed white;
		background-color: #d60b52;
		color: rgba(255,255,255,1);
	}
	50% {
		border: 2px dashed white;
		background-color: #d60b52;
		color: rgba(255,255,255,1);
	}
	50.1% {
		border: 0px;
		background-color: #00a19a;
		color: rgba(255,255,255,0);
	}
	100% {
		transform: rotateY(-135deg);
		border: 0px;
		background-color: #00a19a;
		color: rgba(255,255,255,0);
	}
}

@-webkit-keyframes closeanim {
	100% {
		-webkit-transform:rotateY(0deg);
		border: 2px dashed white;
		background-color: #d60b52;
		color: rgba(255,255,255,1);
	}
	50.1% {
		border: 2px dashed white;
		background-color: #d60b52;
		color: rgba(255,255,255,1);
	}
	50% {
		border: 0px;
		background-color: #00a19a;
		color: rgba(255,255,255,0);
	}
	0% {
		-webkit-transform: rotateY(-135deg);
		border: 0px;
		background-color: #00a19a;
		color: rgba(255,255,255,0);
	}
}

@keyframes closeanim {
	100% {
		transform:rotateY(0deg);
		border: 2px dashed white;
		background-color: #d60b52;
		color: rgba(255,255,255,1);
	}
	50.1% {
		border: 2px dashed white;
		background-color: #d60b52;
		color: rgba(255,255,255,1);
	}
	50% {
		border: 0px;
		background-color: #00a19a;
		color: rgba(255,255,255,0);
	}
	0% {
		transform: rotateY(-135deg);
		border: 0px;
		background-color: #00a19a;
		color: rgba(255,255,255,0);
	}
}

.closedoor {
	-webkit-animation-name: closeanim;
	-webkit-animation-duration: 0.6s;
	-webkit-timing-function: linear;
	animation-name: closeanim;
	animation-duration: 0.6s;
	animation-timing-function: linear;
}

.opendoor {
	-webkit-transform: rotateY(-135deg);
	transform: rotateY(-135deg);
	background-color: #00a19a;
	border: 0px;
	color: rgba(255,255,255,0);

	-webkit-animation-name: openanim;
	-webkit-animation-duration: 0.6s;
	-webkit-timing-function: linear;
	animation-name: openanim;
	animation-duration: 0.6s;
	animation-timing-function: linear;
}

.perspective1 {
	background-image: url('../images/day1.jpg');
}

.perspective2 {
	background-image: url('../images/day2.jpg');
}

.perspective3 {
 background-image: url('../images/day3.jpg');
}
.perspective4 {
 background-image: url('../images/day4.jpg');
}
.perspective5 {
 background-image: url('../images/day5.jpg');
}
.perspective6 {
 background-image: url('../images/day6.jpg');
}
.perspective7 {
 background-image: url('../images/day7.jpg');
}
.perspective8 {
 background-image: url('../images/day8.jpg');
}
.perspective9 {
 background-image: url('../images/day9.jpg');
}
.perspective10 {
 background-image: url('../images/day10.jpg');
}
.perspective11 {
 background-image: url('../images/day11.jpg');
}
.perspective12 {
 background-image: url('../images/day12.jpg');
}
.perspective13 {
 background-image: url('../images/day13.jpg');
}
.perspective14 {
 background-image: url('../images/day14.jpg');
}
.perspective15 {
 background-image: url('../images/day15.jpg');
}
.perspective16 {
 background-image: url('../images/day16.jpg');
}
.perspective17 {
 background-image: url('../images/day17.jpg');
}
.perspective18 {
 background-image: url('../images/day18.jpg');
}
.perspective19 {
 background-image: url('../images/day19.jpg');
}
.perspective20 {
 background-image: url('../images/day20.jpg');
}
.perspective21 {
 background-image: url('../images/day21.jpg');
}
.perspective22 {
 background-image: url('../images/day22.jpg');
}
.perspective23 {
 background-image: url('../images/day23.jpg');
}
.perspective24 {
 background-image: url('../images/day24.jpg');
}

@media (max-width: 576px){
    .door {
			width: 70vw;
			height: 70vw;
			line-height: 70vw;
			font-size: 35vw;
		}

		.perspective {
			width: 70vw;
			height: 70vw;
			margin-left: 15vw;
			margin-right: 15vw;
			-webkit-perspective: 300vw;
			perspective: 300vw;
		}

		.header-image {
			height: 20vw;
		}
}

@media (min-width: 577px) and (max-width: 768px){
    .door {
			width: 40vw;
			height: 40vw;
			line-height: 40vw;
			font-size: 20vw;
		}

		.perspective {
			width: 40vw;
			height: 40vw;
			-webkit-perspective: 200vw;
			perspective: 200vw;
		}

		.header-image {
			height: 15vw;
		}
}
